<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="menu"  style='font-size:40px' (click)=openMenu()></ion-icon> 
        <img  class="logo" src='/assets/logo.png'>
        <ion-searchbar showCancelButton="focus" style="width: 15%; float: right; margin: 10px 10px;"></ion-searchbar>
        <ion-icon name="cart" class="icon-main"></ion-icon>
        <ion-icon name="person" class="icon-main"></ion-icon>
        
          </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Home</ion-item>
        <ion-item>Sales</ion-item>
        <ion-item>Cart</ion-item>
        <ion-item>Contact</ion-item>
        <ion-item>Rewards</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3" size-lg size="12" size-sm>
            <ion-row> 
            <img src='/assets/Jon Snow Black.jpg' (click)="zoompicture();">
          </ion-row>
          <ion-row> 
              <img src='/assets/Jon Snow Black.jpg' (click)="zoompicture();">
            </ion-row>
            <ion-row> 
                <img src='/assets/Jon Snow Black.jpg' (click)="zoompicture();">
              </ion-row>
              
        </ion-col>
        <ion-col size="5" size-lg size="12" size-sm> 
            <img src='/assets/Jon Snow Black.jpg' (click)="zoompicture();">
        </ion-col>
        <ion-col size="4" size-lg size="12" size-sm> 
            
          </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
