<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="menu"  style='font-size:40px' (click)=openMenu()></ion-icon> 
      <img  class="logo" src='/assets/logo.png'>
      <ion-searchbar showCancelButton="focus" style="width: 15%; float: right; margin: 10px 10px;"></ion-searchbar>
      <ion-icon name="cart" class="icon-main"></ion-icon>
      <ion-icon name="person" class="icon-main"></ion-icon>
      
        </ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Home</ion-item>
      <ion-item>Sales</ion-item>
      <ion-item>Cart</ion-item>
      <ion-item>Contact</ion-item>
      <ion-item>Rewards</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-slides>
        <ion-slide class='promo'>
          <img src='/assets/Arya-GIF.gif'>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
 
  
  <div class='product_list'>

    <ion-grid>
        <h1 class="title">LATEST PRODUCTS</h1>
        <p class="subtitle">From your favourite Panda Store!</p>
        <br>
        
      <ion-row class="ion-justify-content-center">
        
        <ion-col size="3" size-lg size="12" size-sm >
      <ion-card class='product'>
        <ion-row class='_pimg'>
          <ion-col>
            <img src='/assets/Arya Blue.jpg'>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <h3>Arya Blue Panda</h3>
            </ion-item>
            <ion-row>
              <ion-col>
                T-shirts
              </ion-col>
              <ion-col class='price'>
                <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
   
    <ion-col size="3" size-lg size="12" size-sm>

      <ion-card class='product'>
        <ion-row class='_pimg'>
          <ion-col >
            <img src='/assets/Jon Snow Black.jpg'>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              <ion-item>
                <h3>Arya Blue Panda</h3>
              </ion-item>
              <ion-row>
                <ion-col>
                  T-shirts
                </ion-col>
                <ion-col class='price'>
                   <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-col>
   
    <ion-col size="3" size-lg size="12" size-sm>
      <ion-card class='product'>
        <ion-row class='_pimg'>
          <ion-col>
            <img src='/assets/Daenerys Yellow.jpg'>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="nametag">
              <ion-item>
                <h3>Arya Blue Panda</h3>
              </ion-item>
              <ion-row>
                <ion-col>
                  T-shirts
                </ion-col>
                <ion-col class='price'>
                   <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
      </ion-card>
      </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        
          <ion-col size="3" size-lg size="12" size-sm>
        <ion-card class='product'>
          <ion-row class='_pimg'>
            <ion-col>
              <img src='/assets/Arya Blue.jpg'>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <h3>Arya Blue Panda</h3>
              </ion-item>
              <ion-row>
                <ion-col>
                  T-shirts
                </ion-col>
                <ion-col class='price'>
                   <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
     
      <ion-col size="3" size-lg size="12" size-sm>
  
        <ion-card class='product'>
          <ion-row class='_pimg'>
            <ion-col >
              <img src='/assets/Jon Snow Black.jpg'>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-item>
                  <h3>Arya Blue Panda</h3>
                </ion-item>
                <ion-row>
                  <ion-col>
                    T-shirts
                  </ion-col>
                  <ion-col class='price'>
                     <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
     
      <ion-col size="3" size-lg size="12" size-sm>
        <ion-card class='product'>
          <ion-row class='_pimg'>
            <ion-col>
              <img src='/assets/Daenerys Yellow.jpg'>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="nametag">
                <ion-item>
                  <h3>Arya Blue Panda</h3>
                </ion-item>
                <ion-row>
                  <ion-col>
                    T-shirts
                  </ion-col>
                  <ion-col class='price'>
                     <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
        </ion-card>
        </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
        
            <ion-col size="3" size-lg size="12" size-sm>
          <ion-card class='product'>
            <ion-row class='_pimg'>
              <ion-col>
                <img src='/assets/Arya Blue.jpg'>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <h3>Arya Blue Panda</h3>
                </ion-item>
                <ion-row>
                  <ion-col>
                    T-shirts
                  </ion-col>
                  <ion-col class='price'>
                     <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
       
        <ion-col size="3" size-lg size="12" size-sm>
    
          <ion-card class='product'>
            <ion-row class='_pimg'>
              <ion-col >
                <img src='/assets/Jon Snow Black.jpg'>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-item>
                    <h3>Arya Blue Panda</h3>
                  </ion-item>
                  <ion-row>
                    <ion-col>
                      T-shirts
                    </ion-col>
                    <ion-col class='price'>
                       <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
          </ion-card>
        </ion-col>
       
        <ion-col size="3" size-lg size="12" size-sm>
          <ion-card class='product'>
            <ion-row class='_pimg'>
              <ion-col>
                <img src='/assets/Daenerys Yellow.jpg'>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="nametag">
                  <ion-item>
                    <h3>Arya Blue Panda</h3>
                  </ion-item>
                  <ion-row>
                    <ion-col>
                      T-shirts
                    </ion-col>
                    <ion-col class='price'>
                       <span style=" text-decoration: line-through;">Rs. 599</span> <span style="font-weight: 600;"> Rs. 399</span>
              
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
          </ion-card>
          </ion-col>
          </ion-row>
          <br>
          <ion-button  class='_viewall' fill="outline">
              View all
              </ion-button><br>
      </ion-grid>       
  </div>
  


    <ion-grid style="background-color: #ecececd5;">
  <ion-row class="ion-justify-content-center footer" >
    <ion-col size="3" size-lg size="12" size-sm>
        <h4>CUSTOMER SERVICE</h4> 
        <ul>
            <li><a href="#">Contact Us</a></li>
                <li><a href="#">Order Cancellation</a></li>
                <li><a href="#">Return Policy</a></li>

        <li><a href="#">Discounts & Offers</a></li>
        </ul>
           
         
    </ion-col>
    <ion-col size="3" size-lg size="12" size-sm>
        <h4>COMPANY</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
       
        
    </ion-col>
    
    <ion-col size="3" size-lg size="12" size-sm>
        
           <h4>ABOUT THE SHOP </h4>
           <p>We are a premium T-shirt brand selling the cutest panda T-shirts posters and much more.
             <br>
             Subscribe to receive updates, access to exclusive deals, and more.<br>
           </p>
           <ion-input style="border: 1px solid lightgray; background-color: white;" placeholder="example@example.com"></ion-input>
           <ion-button style="margin-top: 10px;" class="outline">
              SUBSCRIBE
              </ion-button><br>
    </ion-col>
    
    </ion-row>
    <br>
    <br>
    <p style="text-align: center;">&copy; Copyright Pubba 2019 | All rights Reserved.</p>
    </ion-grid>
  </ion-content>
